---
http_interactions:
- request:
    method: post
    uri: https://efts.sec.gov/LATEST/search-index
    body:
      encoding: UTF-8
      string: '{"keysTyped":"BRK"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 6009741c-f467-4317-b00d-819f2dd2d504
      X-Amz-Apigw-Id:
      - GPDxIEt3IAMFUvg=
    body:
      encoding: UTF-8
      string: '{"took":0,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":10,"relation":"eq"},"max_score":845.7212,"hits":[{"_index":"edgar_entity_20210924_040349","_type":"_doc","_id":"1067983","_score":845.7212,"_source":{"entity":"BERKSHIRE
        HATHAWAY INC (BRK-B, BRK-A)","entity_words":"BERKSHIRE HATHAWAY INC (BRK-B,
        BRK-A)","tickers":"BRK-B, BRK-A","rank":59972895}},{"_index":"edgar_entity_20210924_040349","_type":"_doc","_id":"1109354","_score":35.371925,"_source":{"entity":"BRUKER
        CORP (BRKR)","entity_words":"BRUKER CORP (BRKR)","tickers":"BRKR","rank":30162789}},{"_index":"edgar_entity_20210924_040349","_type":"_doc","_id":"933974","_score":30.958382,"_source":{"entity":"Brooks
        Automation, Inc. (BRKS)","entity_words":"Brooks Automation, Inc. (BRKS)","tickers":"BRKS","rank":37614893}},{"_index":"edgar_entity_20210924_040349","_t[...]
